* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variaveis para modo dark */
:root {
  --background: url(./assets/bg-light.png);
  --stroke-color: #ffffff;
  --text-color: #ffffff;
  --highlight-color: rgba(0, 0, 0, 0.2);
  --icon: url(./assets/sun.svg);
}

/* Variaveis para modo light */
.dark-mode {
  --background: url(./assets/bg-light.png);
  --stroke-color: #393939;
  --text-color: #393939;
  --highlight-color: rgba(255, 255, 255, 0.5);
  --icon: url(./assets/moon-stars.svg);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background {
  animation: hue-ani 10s forwards;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 20s;
}

.dark-mode .background {
  animation: dark-fil 0.2s forwards;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 30px 20px;
  margin: 30px auto 20px;
  gap: 20px;
  z-index: 10;
  background: var(--highlight-color);
  max-width: 500px;
  border-radius: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 15px;
}

.avatar img {
  width: 150px;
}

.avatar p {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* fazer switch por final */

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch button {
  background: #ffffff var(--icon) no-repeat center center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  animation: slide-in 0.2s;
}

.dark-mode .switch button {
  animation: slide-back 0.4s forwards;
}

.switch span {
  display: block;
  border: solid 1px var(--stroke-color);
  background: var(--highlight-color);
  width: 60px;
  height: 20px;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 12px;
  width: 100%;
}

.links a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 14px 24px;
  text-decoration: none;
  color: var(--text-color);
  border: solid 0.5px var(--stroke-color);
  border-radius: 20px;
  backdrop-filter: blur(0.2);
  background: var(--highlight-color);
}

.creditos p {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@keyframes slide-in {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-back {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes hue-ani {
  0% {
    filter: grayscale(100%);
    filter: hue-rotate(0deg);
  }

  10% {
    filter: grayscale(50%);
    filter: hue-rotate(100deg);
  }

  15% {
    filter: grayscale(0%);
    filter: hue-rotate(200deg);
  }

  20% {
    filter: hue-rotate(300deg);
  }

  25% {
    filter: hue-rotate(400deg);
  }

  40% {
    filter: hue-rotate(500deg);
  }

  100% {
    filter: hue-rotate(-0.225turn);
  }
}

@keyframes dark-fil {
  from {
    filter: blur(0);
    filter: grayscale(10%);
  }

  to {
    filter: blur(1.4rem);
    filter: grayscale(100%);
  }
}

@media (min-width: 700px) {
  :root {
    --background: url("./assets/bg-mobile.png");
  }

  .light-mode {
    --background: url("./assets/bg-mobile-light.png");
  }
}
